@model IEnumerable<ItemsOfVendor.Models.Vendor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VContact_No)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VContact_No)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
